VITE_SUPABASE_URL=https://nvndizmdmzwqjiwiuten.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6ViHN_OjWKH2IuA4faM0ug_btj0s3wV
VITE_PAYSTACK_PUBLIC_KEY=your-paystack-public-key
VITE_PAYSTACK_VERIFY_ENDPOINT=https://your-supabase-function-url
VITE_PAYMENT_METHODS_ENDPOINT=https://your-supabase-function-url
